.main_header{
	min-height: 15%;
	background-color: rgb(39, 55, 70);
	overflow: hidden;
	width: 100%;
	padding-bottom: 25px;
}
.header_left{
	float: left;
	width: 60%;
}
.header_right{
	height: 20px;
	float: right;
	width: 40%;
	display: right;
}
.Email{
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    color:white; 
    display: inline-block;

   
}
.password{
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    color:white; 
    margin-left: 12%;
    margin-top:1%;
	display:inline-block;    }
	

.input{
	
	 margin-top:.8%;
	 display: inline;
	 margin-left: 0%;
	 position: fixed;
	 display: inline-block;
}
.wrapper{ 
overflow: hidden;
}

.blog{
min-height: 10px;
width: 60%; 
float: left;
margin: 0px;
}

.info{
	min-height: 150px; 
	float: left;
	width: 35%;
	margin-left: 33px;
}



